In [5]:
import pandas as pd

In [46]:
def read_file(fname):
    return pd.read_csv(fname)

def create_summary(data):
    new_data = data.copy()
    new_data["Location"] = "ALL"
    all_data = pd.concat([data, new_data])
    all_data["vbc"] = all_data["Viable counts"] * 2e5/1e7
    # Summary table with mean and standard deviation
    summary_table = all_data.groupby('Location')[['Temperature', 'Moisture', 'vbc']].agg(['mean', 'std'])

    # Apply rounding: 1 decimal place for Temperature and Moisture, 2 decimal places for vbc
    summary_table['Temperature'] = summary_table['Temperature'].round(1)
    summary_table['Moisture'] = summary_table['Moisture'].round(1)
    summary_table['vbc'] = summary_table['vbc'].round(2)

    return summary_table

In [78]:
import os

# Get the current working directory
directory = os.getcwd()

# Get all files ending with .csv in the current directory
csv_files = [f for f in os.listdir(directory) if f.endswith('.csv')]

In [79]:
csv_files = csv_files[101:202]
csv_files.append("compost_999.csv")

In [80]:
import re

In [82]:
tables = []

for fname in csv_files:
    data = read_file(fname)
    summary = create_summary(data)
    summary["question_id"] = fname
    tables.append(summary)

In [83]:
full_summary = pd.concat(tables)

In [84]:
full_summary

           Temperature      Moisture        vbc            question_id
                  mean  std     mean  std  mean   std
Location
ALL               59.3  5.7     71.0  5.2  2.92  0.15  compost_200.csv
Amsterdam         58.1  2.2     74.9  1.9  3.02  0.07  compost_200.csv
Groningen         55.1  2.1     70.0  2.0  3.03  0.07  compost_200.csv
Maastricht        56.9  1.9     72.3  2.1  3.01  0.07  compost_200.csv
Rotterdam         56.8  2.1     62.1  1.9  2.85  0.07  compost_200.csv
...                ...  ...      ...  ...   ...   ...              ...
Amsterdam         58.3  2.1     74.9  2.0  3.01  0.07  compost_999.csv
Groningen         54.7  1.9     70.0  1.9  3.04  0.06  compost_999.csv
Maastricht        56.8  2.1     72.4  2.0  3.01  0.07  compost_999.csv
Rotterdam         56.8  2.0     62.3  2.0  2.85  0.07  compost_999.csv
Utrecht           69.7  2.1     75.6  1.7  2.68  0.07  compost_999.csv

[612 rows x 7 columns]

In [85]:
full_summary.to_excel("summary_tables.xlsx")